.form-control{
    width: 100%;
}
@media (min-width: 768px) {
    .form-control {
        width: 35rem; 
    }
}
.btn-primary{
    float: right;
}

.file-input-container {
    position: relative;
    overflow: hidden;
}
.file-input-container input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    font-size: 100px;
    cursor: pointer;
}
.file-input-label {
    background-color: #54a2f5; 
    color: #fff;
    padding: 4px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.file-input-label:hover {
    background-color: #0056b3;
}
.file-name {
    margin-top: 5px;
}


