{% extends "templates/web.html" %}

{% block content %}
<div class="container">
    <h3>Job Opening</h3>
    <div class="row">
        {% for job in job_opening_list %}
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <img src="http://localhost:8000/{{ job.logo }}" alt="Logo" class="img-fluid">
                        </div>
                        <div class="col-12 col-md-9">
                            <h5 class="card-title">{{ job.job_title }}</h5> 
                            <p class="card-text"><span style="font-size: 1.2rem;">{{ job.organization_name }} |</span>  Location: {{ job.location }}</p>
                            <p class="card-text"><span style="font-size: .9rem;">Package:</span> ₹{{ job.budget_from/100000 }}L - ₹{{ job.budget_to/100000 }}L</p>
                            <p> <span style="font-size: .9rem;">Posted On:</span> {{ job.posted_on.strftime('%-d %b %Y')}}</p>
                            <a href="{{ 'job_description/?id=' + job.name }}" class="card-link" style="float: right;">See More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
